<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>COVID-19 Probability Detector</title>
</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">COVID-19 Detector</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                </ul>

            </div>
        </div>
    </nav>

    <div class="alert alert-info" role="alert">
        <b>This is just an initiative by Apoorv Gupta to reduce the effect of coronavirus by prioritizing the people for their treatment of coronavirus based on their symptoms.<br>
        Thank you for giving your precious time over this site. </b>
    </div>
    <div class="text-center ">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">COVID-19 PROBABILITY DETECTOR</h1>
        <p class="mb-8 leading-relaxed"> There are {{inf}} out of {{s}} chances of you having the infection. Thank You!</p>

    </div>
    </div>

    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
            <div class="lg:w-4/6 mx-auto">
                <div class="rounded-lg h-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/1600x900/?coronavirus,corona,protectfromvirus">
                </div>
                <div class="flex flex-col sm:flex-row mt-10 ">
                    <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8 ">
                        <div class="w-20 h-20 rounded-full inline-flex items-center justify-center">
                            <img src="/static/images/ap.jpeg" height="80" width="80">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2 "></path>

                        </div>
                        <div class="flex flex-col items-center text-center justify-center ">
                            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg ">Apoorv Gupta</h2>
                            <div class="w-12 h-1 bg-blue-500 rounded mt-2 mb-4 "></div>
                            <p class="text-base text-gray-600 ">Software Engineer/Developer/Designer.</p>
                        </div>
                    </div>
                    <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-300 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left ">
                        <p class="leading-relaxed text-lg mb-4 ">
                            Be aware of the latest information on the COVID-19 outbreak, available through the link given below and through your national and local public health authority. Most countries around the world have seen cases of COVID-19 and many are experiencing outbreaks.
                            Authorities in China and some other countries have succeeded in slowing their outbreaks. However, the situation is unpredictable so check regularly for the latest news.</p>
                        <a class="text-blue-500 inline-flex items-center " href="http://my-new-site1.getforge.io">Stay Updated
            <svg fill="none " stroke="currentColor " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 " class="w-4 h-4 ml-2 " viewBox="0 0 24 24 ">
              <path d="M5 12h14M12 5l7 7-7 7 "></path>
            </svg>
          </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js " integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/ " crossorigin="anonymous "></script>
</body>

</html>
